<h1>Addresses</h1>
<hr>
{{#if addresses}}
<ul class="list-group">
    {{#each addresses}}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <span><b>{{this.nick}}</b></span>
                    <span class="ms-2">{{this.address}}</span>
                    {{#if this.primary}}<span class="ms-2"><b>Primary</b></span>{{/if}}
                </div>
                <div>
                    {{#if this.primary}}
                    {{else}}
                    <a class="btn btn-secondary" href="/account/makePrimaryAddress/{{this.id}}">Make primary</a>
                    {{/if}}
                    <a class="btn btn-danger" href="/account/removeAddress/{{this.id}}">Remove address</a>
                </div>
            </div>
        </li>
    {{/each}}
</ul>
{{else}}
<h2>You have no addresses, add one to get started!</h2>
{{/if}}

<button class="btn btn-success btn-lg mt-2" data-bs-toggle="modal" data-bs-target="#addAddressModal" type="button">
    <span class="material-icons">add</span>Add Address
</button>

<div class="modal fade" id="addAddressModal" tabindex="-1">
    <div class="modal-dialog">
        <form action="/account/addAddress" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" class="form-control" name="nick">
                        <small class="form-text text-muted">A recognizable nickname for the address.</small>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Address</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.onload = function() {
        document.getElementById("#sidebar-addr").classList.toggle("active");
    };
</script>